[submodule ".themes/object"]
	path = .themes/object
	url = https://github.com/gluttony/object-octopress-theme.git
[submodule ".themes/octoflat"]
	path = .themes/octoflat
	url = https://github.com/alexgaribay/octoflat
